body{
  font-family: "Microsoft YaHei", sans-serif;
}
div.top{
  background: #F1F1F1;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
div.focus-map{
  padding: 0px;
  img{
    width: 100%;
    height: 340px;
  }
}
div.wowo-caption{
  width:100%;
  left:0;
  right:0;
  background: rgba(0, 0, 0, 0.2);
}
$navigate_height:42px;
$navigate_width:6*16px;
$footer_height:11*16px;
$footer_color:	#f1f1f1;
body{
  font-family: "Microsoft Yahei";
}
.navigate,.g-navigate {
  height: $navigate_height;
  width: 100%;
  background: #111;
  padding: 6.4px 16px;
  ul{
    list-style: none;
    li{
      margin: -6.4px 0 0 0;
      text-align: center;
      float: left;
      width: $navigate_width;
      height: $navigate_height;
      >span{
        font-size: 20.8px;
        color: #fff;
        line-height: $navigate_height;
      }
      a{
        font-family: "SimHei",Sans-Serif;
        font-size: 16px;
        display: block;
        width: $navigate_width;
        height: $navigate_height;
        line-height: $navigate_height;
        color: #fff;
        color: #fff;
        transition: background .5s ease-out,color .5s ease-in;
        -moz-transition: background .5s ease-out,color .5s ease-in;
        -webkit-transition: background .5s ease-out,color .5s ease-in;
      }
      a:hover{
        color: #449d44;
        display: block;
        cursor: pointer;
        width: $navigate_width;
        height: $navigate_height;
        background:#f1f1f1;
        text-decoration: none;
      }

    }
    li.active{
      a{
        color: #449d44;
        width: $navigate_width;
        background:#f1f1f1;
      }
    }

  }
}
div.content{
  min-height: 360px;
  background: #f1f1f1;
}
div.login{
  background: #76b852;
  padding: 32px;
}
div.register{
  padding: 32px;
}
div.hr{
  height: 1px;
  margin: .5rem 0;
  border-top: #f1f1f1 solid 1px;
}
div.footer{
  background:$footer_color;
  padding:1.5rem .5rem 0;
  border-top: 2px solid #449d44;
  div.container {
    h6{
      /* font-size: 1em; */
      font-weight: 800;
      margin-bottom: 1em;
    }
    li{
      list-style: none;
      margin: 0.3em 0;
      a{
        font-size: 12px;
      }
    }
    p{
      font-size: 12px;
    }
  }
}
div.login-form{
  padding: 1.5rem 0;
}
div.login-header{
  background: #f1f1f1;
  div{
    padding:1rem 3rem 1rem;
  }
}
div.filter{
  background: #fff;
  width: 100%;
  height: 110px;
  padding: .5rem;
  ul{
    list-style: none;
    overflow: hidden;
    margin-left: 1rem;
    li{
      border-top: #f1f1f1 solid 1px;
      a{
        color: #066cb8;
        text-decoration: none;
        float: left;
        span{
          font-family: "Microsoft Yahei";
          display: inline-block;
          width: 33px;
          height: 44px;
          overflow: hidden;
          font-size: 14px;
          line-height: 18px;
          color: #fff;
          text-align: center;
          font-weight: normal;
          padding: 4px 6px 0 6px;
        }
        span.s1{
          background: #20b2f4;
        }
        span.s2{
          background: #f9644e;
        }
      }
      p{
        float: left;
        line-height: 18px;
        margin-top: 5px;
        font-size: 12px;
        color: #eee;
        a{
          color: #555;
          float: left;
          margin: 0 6px;
        }
        em{
          float: left;
          font-style: normal;
        }
      }
    }
  }
}
div.homework{
  background: #f1f1f1;
  padding: 15px;
}
div.class-list{
  padding: .5rem;
  margin: .5rem 0;
  background:#fff;
  height:345px;
  a.title{
    padding-left: .5rem;
    border-left: green solid 3px;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    color: #555;
  }
  a:hover{
    text-decoration: none;
  }
  div.list-item{
    display: block;
    height: 285px;
    padding: 5px;
    overflow: hidden;
    div.class-words{
      height: 105px;
      padding: .5rem;
      position: absolute;
      left: 0;
      bottom: -20px;
      h5{
        font-family: "Microsoft Yahei";
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
        a{
          text-decoration: none;
          color: #3a3a3a;
        }
      }
      p{
        font-size: 12px;
        color: #a5a5a5;
        margin-bottom: 10px;
        em{
          font-style: normal;
          font-weight: normal;
          color: #ff7500;
          padding-left: 4px;
        }
        span{
          margin: 0 4px;
        }
        i{
          color: #1db177;
          margin: 0 2px;
          font-style: normal;
        }
      }
      h6{
        padding: 5px 0;
        border-top: 1px #f0f0f0 solid;
        font-size: 12px;
        color: #999;
        line-height: 18px;
        font-weight: normal;
      }
    }
  }
}
div.class-detail{
  background: #f1f1f1;
  padding: 20px;
  ol.breadcrumb{
    padding: 0;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    background: #f1f1f1;
    li{
      font-size: 12px;
      a{
        color: #555;
      }
      a:hover{
        text-decoration: none;
        color: #1eb37b;
      }
    }
    li.active{
      color: #555;
    }
  }
  div.class-header{
    padding:5px;
    h5{
      margin-bottom: 7px;
      max-height: 64px;
      overflow: hidden;
      font-size: 20px;
      color: #333;
    }
    ul.summary{
      list-style: none;
      margin-top: 15px;
      padding-left: 0;
      li{
        font-size: 12px;
        h6{
          width: 100px;
          font-size: 12px;
          float: left;
          padding-left: 10px;
          display: inline-block;
          color: #aaa;
        }
        span{
          float: left;
          color: #ff7500;
        }
      }
      li.price{
        height: 50px;
        line-height: 50px;
        h6{
          display: block;
          height: 50px;
          line-height: 50px;
        }
        span{
          font-size: 32px;
          color: #fc6238;
          font-weight: 700;
          vertical-align: center;
          em{
            margin-right: 5px;
            font: 400 24px arial;
          }
        }

      }
      li.summary{
        height: 68px;
        h6{
          height: 68px;
          line-height: 68px;
        }
        p{
          display: block;
          height: 68px;
          font-size: 12px;
          color: #666;
          overflow: hidden;
        }
      }
    }
  }
}
div.class-content{
  display: inline-block;
  background: #fff;
  min-height: 300px;
  width: 100%;
  padding: 10px;
  margin-top:3px;
}
div.iwantlearn {
  float: left;
  width: 49.3%;
  ol{
    margin: 15px;
    margin-left: 0;
    li{
      margin-left: 0;
      a{
        color: #333;
        &:hover{
          color: #555;
        }
      }
      span{
        color: #333;
      }
    }
  }
}
div.iwantteacher{
  float: right;
  width: 49.3%;
  ol{
    margin: 15px;
    margin-left: 0;
    li{
      margin-left: 0;
      a{
        color: #333;
        &:hover{
          color: #555;
        }
      }
      span{
        color: #333;
      }
    }
  }
}
div.learn-form{
  background: #fff;
  margin:15px 0;
  padding:30px;
}
div.learn-list{
  background: #fff;
  margin-bottom: 30px;
  padding:30px;
}
div.learn-detail{
  background: #fff;
  margin: 15px 0;
  padding:30px;
}
div.content{
  div.profile{
    background: #f1f1f1;
    padding: 20px;
    ol.breadcrumb{
      padding: 0;
      margin: 0;
      margin-top: -10px;
      margin-bottom: 10px;
      background: #f1f1f1;
      li{
        font-size: 12px;
        a{
          color: #555;
        }
        a:hover{
          text-decoration: none;
          color: #1eb37b;
        }
      }
      li.active{
        color: #555;
      }
    }
  }
}
div.g-img-view{
  background: #fff;
  div.user-img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    img{
      margin-top: -50px;
    }
  }
  p.user-name{
    font-weight:700;
    font-size: 16px;
  }
}
div.g-navigate{
  background: #2E8B57;
  ul{
    list-style: none;
    li{
      margin: -0.4rem 0 0 0;
      text-align: center;
      float: left;
      width: $navigate_width;
      height: $navigate_height;
      a{
        color: #fff;
      }
      a:hover{
        color: #2E8B57;
      }

    }
    li.active{
      a{
        color: #2E8B57;
        width: $navigate_width;
        background:#f1f1f1;
      }
    }

  }
}
div.g-content{
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.dropdown{
  a{
    color: #666;
    cursor: auto;
    &:hover{
      cursor: pointer;
      text-decoration: none;
      color: #333;
    }
  }
}
div.login-page {
  max-width: 480px;
  padding: 15px 0 0;
  margin: auto;
  .form {
    position: relative;
    z-index: 1;
    background: #fff;//rgba(0,0,0,0.2);
    max-width: 480px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    div.has-error>input{
      border: 1px solid #c80000;
    }
    div.has-success{
      color: #0a0;
    }
    div.has-error>.help-block{
      color: #c80000;
      font-family: "Microsoft Yahei", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      margin: -5px 0 10px;
    }
    input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      //width: 100%;
      border: 0;
      margin: 0 0 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    button {
      font-family: "Microsoft YaHei", sans-serif;
      font-weight:400;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 16px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
    button:hover,.form button:active,.form button:focus {
      background: #43A047;
    }
    .message {
      text-align: left;
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .message a {
      color: #4CAF50;
      text-decoration: none;
    }
    .field-loginform-rememberme{
      text-align: left;
      margin-bottom: 10px;
    }
    .field-loginform-rememberme> label{
      text-align: left;
      max-width: 100%;
      display: inline-block;
      min-height: 20px;
      padding-left: 20px;
      font-weight:normal;
      cursor: pointer;
      font-size: 12px;
    }
    .field-loginform-rememberme
     label> input[type=checkbox]{
       text-align: left;
      position: absolute;
      left: 45px;
      margin-top: 3px;
    }
  }
}
div.register-page{
  width: 600px;
  .form{
    max-width: 600px;
  }
}
h1.post-title{
  font-family: "SimHei", sans-serif;
  font-size: 24px;

}
div.post-summary{
  padding: 1px 0px;
  p{
    margin-bottom: 15px;
    font-size: 16px;
    font-style: italic;
  }
}
div.post-content{
  min-height: 360px;
  p{
    text-indent: 2em;
  }
}
div.wowo-level-title{
  border-bottom: 1px dotted #ccc;
  padding: 5px;
  margin-bottom: 10px;
  strong{
    color: #fc6238;
  }
}

@import "styles";